.basic_lane{
    background-color: #f7ecb5;
    font-family: "PingFang SC";
    width: 35%;
    height:100%;
    position:absolute;
    top: 0;
    left:0;
}

.detailed_lane{
    width: 65%;
    height:100%;
    position:absolute;
    top:0;
    left:35%;
}

.circle_image{
    width:70%;
    position:absolute;
    top: 10%;
    left: 15%;
    border-radius: 100%;
    background-color: #ffffff;
    text-align: center;
}

.head_pic{
    width:100%;
    height:100%;
    border-radius: 100%;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    opacity:0;
}

#dish_title{
    font-family: "PingFang SC";
    font-size: 33px;
    font-weight: 700;
    color: darkslategray;
    position: absolute;
    top:60%;
    left:calc(50% - 66px);
}

#dish_name{
    position: absolute;
    font-family: "Songti TC";
    font-size: 26px;
    color: black;
    left:20%;
    height:30px;
    text-align: center;
    width:60%;
    top:70%;
    background-color: lightcyan;
    border:none;
    opacity: 70%;
}

.normal_info_title{
    font-family: "PingFang SC";
    font-size: 28px;
    font-weight: 500;
    color: blue;
}

.normal_info{
    position: relative;
    margin-top: 30px;
    left:10%;
    vertical-align: middle;
}

#dish_name{
    height:10%;
}

#dish_info{
    height:40%;
}

#dish_info span{
    line-height: 100%;
}

#dish_price{
    height:10%;
}

#dish_sales{
    height:10%
}

.input_info{
    margin-left: 100px;
    height:35px;
    width:200px;
    font-family: "Songti TC";
    font-size: 22px;
    font-weight: 300;
    border: none;
    background-color: lightyellow;
    opacity: 70%;
    text-align: center;
}

.input_large_info{
    height:100%;
    width:300px;
    font-family: "Songti TC";
    font-size: 20px;
    font-weight: 300;
    border: none;
    background-color: lightyellow;
    opacity: 70%;
    margin-left: 100px;
}

.btn_info{
    position: relative;
    height:30%;
    right:10%;
    left:55%;
}

.click_btn{
    font-family: "PingFang SC";
    font-size: 26px;
    font-weight: 600;
    color: darkslategray;
    background-color: greenyellow;
    border: none;
    border-radius: 5px;
    height:40px;
    width:140px;
    margin-left: 30px;
    margin-top: 10px;
}