.datamanage_title_text{
    color:blue;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.info_table{
    position:absolute;
    left:8%;
    top:8%;
    width:80%;
    height:52%;
    text-align: center;
}

.selective_font{
    font-family: "PingFang SC";
    font-size: 22px;
    color:darkslategray;
    font-weight: 500;
    margin-left: 10px;
}

.selective_line{
    position:absolute;
    right: 10%;
    left:40%;
    top:65%;
}

.btngroup{
    position:absolute;
    width: 50%;
    top:75%;
    left:50%;
}

.down_btn{
    font-family: "PingFang SC";
    font-size: 18px;
    color: darkslategray;
    background-color: greenyellow;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    width:140px;
    height:40px;
}

.styled-select select{
    background:transparent;
    width:128px;
    padding:5px;
    font-size:18px;
    border:1px solid #cccccc;
    height:35px;
}

.styled-select{
    display: inline;
    width:100px;
    height:35px;
    overflow:hidden;
    backgorund:url(image/downpull.png)no repeat right #ddd;
}

#show_sales_data{
    font-family: "PingFang SC";
    font-size: 20px;
    font-weight: 400;
    color: red;
    position: absolute;
    left: 10%;
    top:60%;
}