.basic_lane{
    background-color: #f7ecb5;
    font-family: "PingFang SC";
    width: 35%;
    height:100%;
    position:absolute;
    top: 0;
    left:0;
}

.detailed_lane{
    width: 65%;
    height:100%;
    position:absolute;
    top:0;
    left:35%;
}

.circle_image{
    position: relative;
    width:280px;
    height:280px;
    border-radius: 100%;
    background-color: transparent;
    text-align: center;
}

#image_show{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    border-radius: 100%;
    background-color: white;
}

.head_pic{
    width:100%;
    height:100%;
    border-radius: 100%;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    opacity:0;
}

#dish_title{
    position: relative;
    font-family: "PingFang SC";
    font-size: 33px;
    font-weight: 700;
    width:240px;
    text-align: center;
    color: darkslategray;
}

#dish_name_input{
    position: relative;
    font-family: "Songti TC";
    font-size: 26px;
    color: black;
    height:35px;
    text-align: center;
    width:240px;
    background-color: lightcyan;
    border:none;
}

#dish_name{
    position: relative;
    font-family: "PingFang TC";
    font-weight: 400;
    color:red;
    font-size:38px;
    height:50px;
    width:240px;
    text-align: center;
}

.dish_table{
    position: relative;
    vertical-align:middle;
    text-align: center;
}

.normal_info_title{
    font-family: "PingFang SC";
    font-size: 28px;
    font-weight: 500;
    color: blue;
}

.dish_info_display{
    width:200px;
    height:40px;
    font-size:24px;
    font-weight: 400;
    font-family: "PingFang TC";
    color:red;
    text-align: center;
}

.large_info_display{
    width:200px;
    height:160px;
    font-size:20px;
    font-weight: 400;
    font-family: "PingFang TC";
    color: red;
    text-align: center;
}

.rowdis {
    margin-top: 50px;
    margin-bottom: 50px;
}

.input_info{
    margin-left: 100px;
    height:35px;
    width:300px;
    font-family: "Songti TC";
    font-size: 22px;
    font-weight: 300;
    border: none;
    background-color: lightyellow;
    text-align: center;
}

.input_large_info{
    height:120px;
    width:300px;
    font-family: "Songti TC";
    font-size: 20px;
    font-weight: 300;
    border: none;
    background-color: lightyellow;
    margin-left: 100px;
}

.btn_info{
    position: relative;
    height:30%;
    right:10%;
    left:55%;
}

.click_btn{
    font-family: "PingFang SC";
    font-size: 26px;
    font-weight: 600;
    color: darkslategray;
    background-color: greenyellow;
    border: none;
    border-radius: 5px;
    height:40px;
    width:140px;
    margin-left: 30px;
    margin-top: 10px;
}